body {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 1em;
}

#map {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 19em;
    top: 1em;
}

.form {
    border: 1px dashed gray;
    width: 15em;
    padding: 0.5em;
}

.form label {
    width: 7em;
    display: block;
    float: left;
}

.form input {
    width: 10em;
}

.form .submit {
    padding-left: 7em;
}

ul.friendsList {
    list-style-type: none;
    overflow: auto;
    max-height: 20em;
}

ul.friendsList li {
    padding-bottom: 1.5em;
}

.friendsList img {
    float: left;
    margin-right: 1em;
    width: 48px; 
    height: 48px;  
}

.friendsList .friendInfo {
    min-height: 48px;
}

.friendsList .name {
    font-weight: bold;
}

.friendsList .bio {
    color: gray;
}

.friendsList .message {
    margin-top: 0.5em;
}
