body {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 1em;
}

#map {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 19em;
    top: 1em;
}

.form {
    border: 1px dashed gray;
    width: 15em;
    padding: 0.5em;
}

.form label {
    width: 7em;
    display: block;
    float: left;
}

.form input {
    width: 10em;
}

.form .submit {
    padding-left: 7em;
}
